@use './sharedVariables' as *;


.imgTextContainer{
    display: grid;
    direction: rtl;
    grid-template-columns: auto 1fr;
    gap: 4rem;
    align-items: center;
    margin: 2.5rem 0;
}

.imgTextContainer p{
    margin: 1rem 0rem;
}

.imgTextImage{
    max-height: 500px;
    max-width: 500px;
}

.imgTextContainer.right{
    direction: ltr;
}


.imgTextContentContainer{
    direction: ltr;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
}


@media screen and ($mobile < width <= $desktop) {
    .imgTextContainer, .imgTextContainer.right{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 2.5rem 0;
    }

    .imgTextImage{
        max-height: 500px;
        max-width: 100%;
        width: auto;
    }
    .imgTextContainer{
        gap: 3rem;
    }
}


@media only screen and (width <= $mobile) {
    .imgTextContainer, .imgTextContainer.right{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 0rem;
        margin: 2rem 0;
    }

    .imgTextContentContainer{
        gap:0rem;
    }

        
    .imgTextContainer p{
        margin: 0rem 0rem;
    }

    .imgTextImage{
        max-height: 500px;
        max-width: 100%;
        width: auto;
    }

    img{
        margin: 0;
    }
}
