@use './sharedVariables' as *;

nav{
    display: flex;
    flex-direction: row;
    width: auto;
    
    align-items: center;
    justify-content: center;
    padding-top: 42px;
    padding-bottom: 24px;
}
#menuText{
    z-index: 99;
}

nav > ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    gap: 60px;
    list-style-type: none;
    padding: 0;
    transition: max-height 0.15s ease-in-out;
}

nav > li{
    display: inline;
    text-align: center;
    
}

nav button{
    all: unset;
    font-weight: 700;
    display: none;
}

nav a{
    color: $text-default;
    text-decoration: none;

    font-family: $font-default;
    letter-spacing: 2px;
}

nav a.active{
    color: $brand-500;
}

nav a:hover{
    color: $brand-600;
}

//mobile devices
@media only screen and (max-width: $mobile) {
    .navHidden{
        max-height: 0px;
        overflow: hidden;
    }

    nav{
        flex-direction: column;
        padding: 0;
        margin: 0;
        background-color: $brand-200;
    }
    

    nav > ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        gap:0px;
        
        max-height: 400px;
    }

    nav li, nav button{
        padding: 24px 0px;
        width: 100%;
        text-align: center;
    }

    nav button{
        display: block;
        background-color: $brand-200;
        color: $brand-500;
    }

}